.exp__wrapper {
  background: #fff8f5;
}
.exp {
  color: #000;
  max-width: 120em;
  padding: 0 2em;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  justify-content: center;

  &__content {
    padding: 6rem 0 4rem 0;
  }
  .oby,
  .tolu {
    font-size: 1.5rem;
  }
  .tolu {
    display: none;
  }
  .text {
    max-width: 400px;
    font-size: 1.2rem;
  }
  .customer {
    border: 1px solid #ff5c00 !important;
    display: inline-block;
    padding: 0.25rem;
    margin: 1rem 0;
    border-radius: 3px !important;
    font-size: 0.9rem;
    color: #ff5c00;
  }
  .share-wrapper {
    margin: 2rem 0;
    .share {
      color: #ff5c00;
      text-transform: uppercase;
      font-size: 1.2rem;
    }
  }

  &__content-img {
    .img-box {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background-color: rgb(238, 199, 195);

      img {
        width: 90%;
        display: block;
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .exp {
    flex-direction: row;
    justify-content: space-between;
    &__content {
      padding: 0;
    }
    .oby,
    .tolu {
      font-size: 3rem;
    }
    .tolu {
      display: block;
    }
    .oby {
      display: none;
    }
    .text {
      max-width: 450px;
      font-size: 1.4rem;
      margin: 2rem 0 4rem 0;
    }
    .customer {
      border: 1px solid #fff;
      display: inline-block;
      padding: 0.25rem;
      margin: 1rem 0;
      border-radius: 1px;
      font-size: 0.9rem;
    }

    &__content-img {
      .img-box {
        width: 500px;
        height: 500px;
        border-radius: 50%;

        img {
          width: 100%;
          display: block;
        }
      }
    }
  }
}
